<div class="row" *ngIf="doctor">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/cover19.jpg" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <img class="avatar border-gray" src="{{doctor.mainPhotoUrl || 'assets/img/doctor.png'}}"
                        alt="{{doctor.firstName}} {{doctor.secondName}}">
                    <h5 class="title">Dr. {{doctor.firstName}} {{doctor.secondName}}</h5>
                </div>
                <p class="description text-center">
                    {{doctor.motto}}
                </p>
                <p class="description text-center">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> {{doctor.email}}
                </p>
                <div class="button-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-6 ml-auto">
                            <h5>Ani experienta
                                <br>
                                <small>15</small>
                            </h5>
                        </div>
                        <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                            <h5>Varsta
                                <br>
                                <small>{{doctor.age}}</small>
                            </h5>
                        </div>
                        <div class="col-lg-3 mr-auto">
                            <h5>Vizite
                                <br>
                                <small>4342</small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="doctor">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <tabset class="member-tabset" [justified]="true">
                        <tab heading="Experienta">
                            <div class="row justify-content-center">
                                <h5 class="text-primary">Experienta</h5>
                            </div>
                            <div class="text-center" *ngFor="let study of doctor.studiesAndExperience">
                                <p><strong>{{study.name}}</strong></p>
                                <p>{{study.startDate | romanianDate}} - {{study.endDate | romanianDate}}</p>
                                <p>{{study.location}}</p>
                                <hr>
                            </div>
                        </tab>
                        <tab heading="Programari">
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" (click)="staticModal.show()"
                                        class="btn btn-success btn-round"><i class="fa fa-calendar"
                                            aria-hidden="true"></i> Programeaza-te!</button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <h5 class="text-primary">Program</h5>
                            </div>
                            <div class="text-center" *ngFor="let workDay of doctor.workDays">
                                <p><strong>{{workDay.day}}</strong></p>
                                <p>{{workDay.startHour | hour}} - {{workDay.endHour | hour}}</p>
                                <hr>
                            </div>
                        </tab>
                        <tab heading="Recenzii">Recenziile vor fi aici!</tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Pas 1</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]='chooseDateForm' (ngSubmit)="chooseDateForm.valid && getFreeHours()"
                    #documentEditForm="ngForm">
                    <label class="text-primary">Data: </label>
                    <app-date-input [formControl]='chooseDateForm.controls["dateOfAppoinment"]' [label]='"Data"'
                        [minDate]='minDate'>
                    </app-date-input>
                </form>
            </div>
            <div class="modal-footer">
                <button [disabled]='!chooseDateForm.valid' (click)="documentEditForm.ngSubmit.emit()"
                    form="chooseDateForm" class="btn btn-success mr-2 btn-round" type="submit"><i class="fa fa-check"
                        aria-hidden="true"></i> Alege
                    ziua</button>
                <button class="btn btn-danger btn-round" (click)="staticModal.hide()" type="button"><i
                        class="fa fa-times"></i> Renunta</button>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Pas 2</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label class="text-primary">Ora: </label>
        <select [(ngModel)]="hour" name="{{hour}}" class="form-control" placeholder="Zi">
            <option *ngFor="let day of availableHours" [value]="day.id">
                {{day.fromHour}} - {{day.toHour}}
            </option>
        </select>
        <br>
        <label class="text-primary">Motiv(optional): </label>
        <ng-select [(ngModel)]="reason" name="reason">
            <ng-option *ngFor="let reason of reasonTypes" [value]="reason.name">{{reason.name}}</ng-option>
        </ng-select>
    </div>
    <div class="modal-footer">
        <button (click)="makeAppoinment()" class="btn btn-success mr-2 btn-round" type="submit"><i class="fa fa-check"
                aria-hidden="true"></i> Programeaza-te</button>
        <button class="btn btn-danger btn-round" (click)="modalRef.hide()" type="button"><i class="fa fa-arrow-left"
                aria-hidden="true"></i> Inapoi</button>
    </div>
</ng-template>