<form [formGroup]='consultationForm' (ngSubmit)="consultationForm.valid && addConsultation()" autocomplete="off">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body text-center">
                    <h5 class="text-primary">Consultatie {{pacientFirstName}} {{pacientSecondName}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body">

                    <label>Inaltime (cm)*</label>
                    <app-text-input [formControl]='consultationForm.controls["height"]' [label]='"Inaltime"'>
                    </app-text-input>

                    <label>Greutate (kg)*</label>
                    <app-text-input [formControl]='consultationForm.controls["weight"]' [label]='"Greutate"'>
                    </app-text-input>

                    <label>Presiune Sistolica (mmHg)</label>
                    <app-text-input [formControl]='consultationForm.controls["systolicBp"]'
                        [label]='"Presiune Sistolica"'>
                    </app-text-input>

                    <label>Presiune Diastolica (mmHg)</label>
                    <app-text-input [formControl]='consultationForm.controls["diastolicBp"]'
                        [label]='"Presiune Diastolica"'>
                    </app-text-input>

                    <label>Temperatura (°C)*</label>
                    <app-text-input [formControl]='consultationForm.controls["temperature"]' [label]='"Temperatura"'>
                    </app-text-input>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body">

                    <label>Puls (batai/minut)*</label>
                    <app-text-input [formControl]='consultationForm.controls["heartRate"]' [label]='"Puls"'>
                    </app-text-input>

                    <label>Indice glicemic (mg/dl)</label>
                    <app-text-input [formControl]='consultationForm.controls["bloodSugar"]' [label]='"Indice glicemic"'>
                    </app-text-input>

                    <label>Indice masa corporala (kg/m^2)</label>
                    <app-text-input [formControl]='consultationForm.controls["bmi"]' [label]='"Indice masa corporala"'>
                    </app-text-input>

                    <label>Ritm respirator (respiratii/minut)</label>
                    <app-text-input [formControl]='consultationForm.controls["respiratoryRate"]'
                        [label]='"Ritm respirator"'>
                    </app-text-input>

                    <label>Numar de tigari pe zi</label>
                    <app-text-input [formControl]='consultationForm.controls["numberOfCigarettesPerDay"]'
                        [label]='"Numar de tigari pe zi"'>
                    </app-text-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body">

                    <label>Stare generala</label>
                    <ng-select formControlName="generalFeeling">
                        <ng-option *ngFor="let generalFeeling of generalFeelingTypes" [value]="generalFeeling.name">
                            {{generalFeeling.name}}</ng-option>
                    </ng-select>

                    <label>Comentarii</label>
                    <textarea type="text" class="form-control" formControlName="comments" rows=3
                        placeholder="Comentarii" value=""></textarea>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body text-center">
                    <button [disabled]='!consultationForm.valid' class="btn btn-success mr-2" type="submit"><i
                            class="fa fa-check" aria-hidden="true"></i> Salveaza</button>
                    <button class="btn btn-danger mr-2" (click)="cancel()" type="button"><i class="fa fa-times"
                            aria-hidden="true"></i> Renunta</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
</div>