<div class="form-group">
    <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type={{type}} 
    class="form-control" 
    [formControl]="ngControl.control"
    [readonly]='disabled'
    placeholder={{label}}>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.required">
        Te rog adauga  {{label}}!
    </div>

    <!-- IMPORTANT isMatching!!!!!!! -->
    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.minlength">
        {{label}} trebuie sa fie de minim {{ngControl.control.errors.minlength['requiredLength']}} caracter!
    </div>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.maxlength">
    {{label}} trebuie sa fie de maxim {{ngControl.control.errors.maxlength['requiredLength']}} caractere!
    </div>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.pattern">
    {{label}} nu are formatul corect {{pattern}}!
    </div>

    <div class="invalid-feedback" 
    *ngIf="ngControl.control.errors?.isMatching">
        Parolele nu sunt identice!
    </div>
</div>