.header {
    text-align: center;
    color: green;
    padding-bottom: 35px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}
table th {
    background-color: green;
    color: white;
}
li{
    font-size: 20px;
}
#div1{
    display: inline-block;
}
#div2{
    margin-left: 100px;
    display: inline-block;
}
#div3{
    display: inline-block;
}
#div4{
    margin-left: 500px;
    display: inline-block;
}