<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Nume</th>
                            <th>Prenume</th>
                            <th>Data</th>
                            <th>Ora</th>
                            <th>Data adaugarii</th>
                            <th>Status</th>
                            <th>Doctor conectat?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appoinment of appoinments">
                            <td>Dr. {{ appoinment.doctorFirstName }}</td>
                            <td>{{ appoinment.doctorSecondName }}</td>
                            <td>{{ appoinment.appoinmentDate }}</td>
                            <td>{{ appoinment.appoinmentHour }}</td>
                            <td>{{ appoinment.dateCreated | date : 'dd/MM/yyyy'}}</td>
                            <td [ngSwitch]="appoinment.statusId">
                                <h6><span *ngSwitchCase="statuses.Approved"
                                        class="badge badge-pill badge-primary">Aprobat</span></h6>
                                <h6><span *ngSwitchCase="statuses.Pending" class="badge badge-pill badge-warning">In
                                        asteptare</span></h6>
                                <h6><span *ngSwitchCase="statuses.CanceledByDoctor"
                                        class="badge badge-pill badge-danger">Anulat de doctor</span></h6>
                                <h6><span *ngSwitchCase="statuses.CanceledByPacient"
                                        class="badge badge-pill badge-danger">Anulat de pacient</span></h6>
                                <h6><span *ngSwitchCase="statuses.Rejected"
                                        class="badge badge-pill badge-danger">Respins</span></h6>
                                <h6><span *ngSwitchCase="statuses.Finalized"
                                        class="badge badge-pill badge-success">Finalizat</span></h6>
                            </td>
                            <td> <span *ngIf="(presence.onlineUsers$ | async).includes(appoinment.doctorUserName)"
                                    class="is-online">
                                    <i class="fa fa-user mr-2"></i> Da
                                </span>
                                <span *ngIf="!(presence.onlineUsers$ | async).includes(appoinment.doctorUserName)">
                                    <i class="fa fa-user mr-2"></i> Nu
                                </span>
                            </td>
                            <td>
                                <div class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button"
                                        class="btn btn-info btn-round dropdown-toggle" aria-controls="dropdown-basic">
                                        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem">
                                            <a class="dropdown-item"
                                                (click)="openMessageModal(messageModal, appoinment.doctorUserName, 
                                                'Dr. ' + appoinment.doctorFirstName + ' ' + appoinment.doctorSecondName, appoinment.doctorProfilePhotoUrl)">
                                                <i class="fa fa-commenting" aria-hidden="true"></i> Trimite mesaj</a>
                                        </li>
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Finalized">
                                            <a class="dropdown-item" (click)="openReviewModal(reviewModal, appoinment)">
                                                <i class="fa fa-star" aria-hidden="true"></i> Adauga Review</a>
                                        </li>
                                        <li role="menuitem"
                                            *ngIf="appoinment.statusId == statuses.Approved || appoinment.statusId == statuses.Pending">
                                            <a class="dropdown-item"
                                                (click)="updateStatus(statuses.CanceledByPacient, appoinment.id)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                Anuleaza</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #messageModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left text-primary">Trimite mesaj</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="messageModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label>Catre</label>
            <div class="row">
                <img src="{{receiverProfileImg || 'assets/img/doctor.png'}}" class="avatar" alt="doctor">
                <p class="plm text-primary">{{receiverName}}</p>
            </div>
            <br>
            <label>Mesaj</label>
            <br>
            <textarea type="text" [(ngModel)]="content" class="form-control" rows=3 placeholder="Mesaj"
                value=""></textarea>
        </div>
        <div class="modal-footer">
            <button (click)="sendMessage()" class="btn btn-success mr-2 btn-round" type="submit"><i
                    class="fa fa-paper-plane" aria-hidden="true"></i> Trimite</button>
            <button class="btn btn-danger btn-round" (click)="messageModalRef.hide()" type="button"><i
                    class="fa fa-times" aria-hidden="true"></i> Renunta</button>
        </div>
    </ng-template>

    <ng-template #reviewModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left text-primary">Adauga recenzie</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="reviewModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row text-center">
                <img src="{{reviewDoctorProfileImg || 'assets/img/doctor.png'}}" class="avatar" alt="doctor">
                <p class="plm text-primary">{{reviewDoctorFullName}}</p>
            </div>
            <br>
            <label>Rating</label>
            <div>
                <rating [max]="10" [(ngModel)]="review.rating" [customTemplate]="tt"></rating>
                <ng-template #tt let-i="index" let-v="value">
                  <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
                    {{i < v ? '&#9733;' : '&#9734;'}}
                  </button>
                </ng-template>
              </div>
            <br>
            <textarea type="text" [(ngModel)]="review.content" class="form-control" rows=3 placeholder="Recenzie"
                value=""></textarea>
        </div>
        <div class="modal-footer">
            <button (click)="addReview()" class="btn btn-success mr-2 btn-round" type="submit"><i
                    class="fa fa-plus" aria-hidden="true"></i> Adauga</button>
            <button class="btn btn-danger btn-round" (click)="reviewModalRef.hide()" type="button"><i
                    class="fa fa-times" aria-hidden="true"></i> Renunta</button>
        </div>
    </ng-template>