<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.cnas.ro/">
                        CNAS
                    </a>
                </li>
                <li>
                    <a href="">
                        Despre noi
                    </a>
                </li>
                <li>
                    <a href="">
                       Termeni si Conditii
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <strong> &copy; {{test | date: 'dd/MM/yyyy, h:mm'}}  EASY-MED V1 </strong>
        </div>
    </div>
</footer>
