<div class="container col-md-6">
    <div class="justify-content-center">
        <div class="card border-primary div-border">
            <div class="card-header">
                <h3 class="text-center text-primary mt-2">Introdu email-ul</h3>
                <p class="text-center text-primary mt-2"><small>*Un email pentru resetarea parolei va fi trimis catre
                        adresa asociata contului de utilizator.</small></p>
            </div>
            <div class="card-body" id="forgotPassCard">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()" autocomplete="off">
                    <div class="from-group mt-2">
                        <app-text-input [formControl]="forgotPasswordForm.controls['email']" [label]='"Email utilizator"'
                            [type]='"email"' [(ngModel)]="model.email"></app-text-input>
                    </div>
                    <div class="form-group text-right mt-2">
                        <button [disabled]='!forgotPasswordForm.valid' class="btn btn-primary" type="submit"><i
                                class="fa fa-envelope" aria-hidden="true"></i> Trimite
                            Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
</div>