<div class="row" *ngIf="model">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editeaza Profilul</h5>
      </div>
      <div class="card-body">
        <form [formGroup]='editForm' id="editForm" (ngSubmit)="updatePacient()">
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Nume</label>
                <input type="text"
                  [class.is-invalid]='editForm.get("firstName").errors && editForm.get("firstName").touched'
                  class="form-control" formControlName="firstName" placeholder="Nume" value="">
                <div class="invalid-feedback">
                  Numele este obligatoriu
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Prenume</label>
                <input type="text"
                  [class.is-invalid]='editForm.get("secondName").errors && editForm.get("secondName").touched'
                  class="form-control" formControlName="secondName" placeholder="Prenume" value="">
                <div class="invalid-feedback">
                  Prenumele este obligatoriu
                </div>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email </label>
                <input type="email" [class.is-invalid]='editForm.get("email").errors && editForm.get("email").touched'
                  class="form-control" formControlName="email" placeholder="Email" email>
                <div *ngIf="editForm.get('email').hasError('required')" class="invalid-feedback">
                  Email-ul este obligatoriu
                </div>
                <div *ngIf="editForm.get('email').hasError('pattern')" class="invalid-feedback">
                  Email-ul este invalid
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Serie</label>
                <input type="text" class="form-control" formControlName="series" disabled="" placeholder="Serie"
                  value="">
              </div>
            </div>
            <div class="col-md-3 pl-1 pr-1">
              <div class="form-group">
                <label>Numar</label>
                <input type="text" class="form-control" formControlName="identityNumber" disabled="" placeholder="Numar"
                  value="">
              </div>
            </div>
            <div class="col-md-7 pl-1">
              <div class="form-group">
                <label>CNP</label>
                <input type="text" class="form-control" formControlName="cnp" disabled="" placeholder="CNP" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Data nasterii</label>
                <input type="text" class="form-control" disabled="" placeholder="Data nasterii" value={{dateFormated}}>
              </div>
            </div>
          </div>
          <div formGroupName="pacientContact">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Telefon 1</label>
                  <input type="text" class="form-control" formControlName="firstPhone" placeholder="Telefon 1" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Telefon 2</label>
                  <input type="text" class="form-control" formControlName="secondPhone" placeholder="Telefon 2"
                    value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Strada</label>
                  <input type="text" class="form-control" formControlName="street" placeholder="Strada" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Numar strada</label>
                  <input type="number" class="form-control" formControlName="streetNumber" placeholder="Numar strada"
                    value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Judet</label>
                  <select formControlName="regionId" (ngModelChange)="regionChange()" class="form-control"
                    placeholder="Judet">
                    <option *ngFor="let region of regions" [value]="region.id">
                      {{region.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Oras</label>
                  <select formControlName="cityId" class="form-control" placeholder="Oras">
                    <option *ngFor="let city of cities" [value]="city.id">
                      {{city.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Tara</label>
                  <input type="text" class="form-control" disabled='' placeholder="Tara" value="Romania">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" [disabled]='!editForm.valid' class="btn btn-primary btn-round"><i
                  class="fa fa-check" aria-hidden="true"></i> Editeaza profilul</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 <!--  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="https://ptetutorials.com/images/user-profile.png" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Chet Faker</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
</div>