.avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 35px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}