<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nume</th>
                            <th>Prenume</th>
                            <th>Data</th>
                            <th>Ora</th>
                            <th>Status</th>
                            <th>Data adaugarii</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appoinment of appoinments">
                            <td>{{ appoinment.id }}</td>
                            <td>{{ appoinment.pacientFirstName }}</td>
                            <td>{{ appoinment.pacientSecondName }}</td>
                            <td>{{ appoinment.appoinmentDate }}</td>
                            <td>{{ appoinment.appoinmentHour }}</td>
                            <td>{{ appoinment.status }}</td>
                            <td>{{ appoinment.dateCreated | date : 'dd/MM/yyyy'}}</td>
                            <td>
                                <div class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button"
                                        class="btn btn-info btn-round dropdown-toggle" aria-controls="dropdown-basic">
                                        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Pending"><a
                                                class="dropdown-item" (click)="updateStatus(statuses.Approved, appoinment.id)">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                Aproba</a>
                                        </li>

                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved"><a
                                                class="dropdown-item" (click)="goToPacientProfile(appoinment.pacientId)"><i class="fa fa-address-card"
                                                    aria-hidden="true"></i> Profil pacient</a>
                                        </li>

                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Pending">
                                            <a class="dropdown-item" (click)="updateStatus(statuses.Rejected, appoinment.id)">
                                                <i class="fa fa-times" aria-hidden="true">
                                                </i> Respinge</a>
                                        </li>

                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved && 
                                                                   appoinment.isConsultationAdded == false">
                                            <a class="dropdown-item" (click)="redirectToConsultation(appoinment)">
                                                <i class="fa fa-stethoscope" aria-hidden="true"></i> Consult</a>
                                        </li>

                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved && 
                                                                    appoinment.isConsultationAdded == false">
                                            <a class="dropdown-item" (click)="updateStatus(statuses.CanceleByDoctor, appoinment.id)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                Anuleaza</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>