<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Nume pacient</label>
                        <input [(ngModel)]="filterDoctorAppoinments.pacientFirstName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Prenume pacient</label>
                        <input [(ngModel)]="filterDoctorAppoinments.pacientSecondName" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Status programare</label>
                        <ng-select [(ngModel)]="filterDoctorAppoinments.statusId">
                            <ng-option *ngFor="let appo of appoinmentsStatuses" [value]="appo.id">
                                {{appo.name}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-4">
                        <label>Data</label>
                        <input type="text" class="form-control" [(ngModel)]="dateRange"
                            #daterangepicker="bsDaterangepicker" bsDaterangepicker
                            [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
                    </div>
                </div>
                <br>
                <div class="card-foooter">
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="resetFilter()" class="btn btn-danger btn-round float-right ml-2"
                                type="button"><i class="fa fa-recycle" aria-hidden="true"></i> Reseteaza</button>
                            <button (click)="filterDoctorAppoinmentsList()"
                                class="btn btn-primary btn-round float-right" type="submit"><i class="fa fa-plus"
                                    aria-hidden="true"></i> Filtreaza</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nume</th>
                            <th>Prenume</th>
                            <th>Data</th>
                            <th>Ora</th>
                            <th>Motiv</th>
                            <th>Status</th>
                            <th>Data adaugarii</th>
                            <th>Pacient conectat?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appoinment of appoinments">
                            <td>{{ appoinment.id }}</td>
                            <td>{{ appoinment.pacientFirstName }}</td>
                            <td>{{ appoinment.pacientSecondName }}</td>
                            <td>{{ appoinment.appoinmentDate }}</td>
                            <td>{{ appoinment.appoinmentHour }}</td>
                            <td>{{ appoinment.reason }}</td>
                            <td [ngSwitch]="appoinment.statusId">
                                <h6><span *ngSwitchCase="statuses.Approved"
                                        class="badge badge-pill badge-primary">Aprobat</span></h6>
                                <h6><span *ngSwitchCase="statuses.Pending" class="badge badge-pill badge-warning">In
                                        asteptare</span></h6>
                                <h6><span *ngSwitchCase="statuses.CanceledByDoctor"
                                        class="badge badge-pill badge-danger">Anulat de doctor</span></h6>
                                <h6><span *ngSwitchCase="statuses.CanceledByPacient"
                                        class="badge badge-pill badge-danger">Anulat de pacient</span></h6>
                                <h6><span *ngSwitchCase="statuses.Rejected"
                                        class="badge badge-pill badge-danger">Respins</span></h6>
                                <h6><span *ngSwitchCase="statuses.Finalized"
                                        class="badge badge-pill badge-success">Finalizat</span></h6>
                            </td>
                            <td>{{ appoinment.dateCreated | date : 'dd/MM/yyyy'}}</td>
                            <td> <span *ngIf="(presence.onlineUsers$ | async).includes(appoinment.pacientUserName)"
                                    class="is-online">
                                    <i class="fa fa-user mr-2"></i> Da
                                </span>
                                <span *ngIf="!(presence.onlineUsers$ | async).includes(appoinment.pacientUserName)">
                                    <i class="fa fa-user mr-2"></i> Nu
                                </span>
                            </td>
                            <td>
                                <div class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button"
                                        class="btn btn-info btn-round dropdown-toggle" aria-controls="dropdown-basic">
                                        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Pending"><a
                                                class="dropdown-item"
                                                (click)="updateStatus(statuses.Approved, appoinment.id)">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                Aproba</a>
                                        </li>
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved"><a
                                                class="dropdown-item"
                                                (click)="updateStatus(statuses.Finalized, appoinment.id)"><i
                                                    class="fa fa-flag-checkered" aria-hidden="true"></i> Finalizeaza
                                                vizita</a>
                                        </li>
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved"><a
                                                class="dropdown-item"
                                                (click)="goToPacientProfile(appoinment.pacientId)"><i
                                                    class="fa fa-address-card" aria-hidden="true"></i> Profil
                                                pacient</a>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item" (click)="openMessageModal(messageModal, appoinment.pacientUserName, 
                                                appoinment.pacientFirstName + ' ' + appoinment.pacientSecondName)">
                                                <i class="fa fa-commenting" aria-hidden="true"></i> Trimite mesaj</a>
                                        </li>
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Pending">
                                            <a class="dropdown-item"
                                                (click)="updateStatus(statuses.Rejected, appoinment.id)">
                                                <i class="fa fa-times" aria-hidden="true">
                                                </i> Respinge</a>
                                        </li>
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved && 
                                                                   appoinment.isConsultationAdded == false">
                                            <a class="dropdown-item" (click)="redirectToConsultation(appoinment)">
                                                <i class="fa fa-stethoscope" aria-hidden="true"></i> Consult</a>
                                        </li>
                                        <li role="menuitem" *ngIf="appoinment.statusId == statuses.Approved && 
                                                                    appoinment.isConsultationAdded == false">
                                            <a class="dropdown-item"
                                                (click)="updateStatus(statuses.CanceledByDoctor, appoinment.id)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                Anuleaza</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #messageModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left text-primary">Trimite mesaj</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="messageModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label>Catre</label>
            <div class="row">
                <img src="https://ptetutorials.com/images/user-profile.png" class="avatar rounded float-left"
                    alt="pacient">
                <p class="plm text-primary">{{receiverName}}</p>
            </div>
            <br>
            <label>Mesaj</label>
            <br>
            <textarea type="text" [(ngModel)]="content" class="form-control" rows=3 placeholder="Mesaj"
                value=""></textarea>
        </div>
        <div class="modal-footer">
            <button (click)="sendMessage()" class="btn btn-success mr-2 btn-round" type="submit"><i
                    class="fa fa-paper-plane" aria-hidden="true"></i> Trimite</button>
            <button class="btn btn-danger btn-round" (click)="messageModalRef.hide()" type="button"><i
                    class="fa fa-times" aria-hidden="true"></i> Renunta</button>
        </div>
    </ng-template>