<h4>Upps..Ceva nu a mers...Te rog incearca mai tarziu!</h4>
<ng-container *ngIf="error">
        <h5 class="text-danger">Error : {{error.message}}</h5>
        <p class="font-weight-bold">In cazul in care eroare persista, va rugam contactati administratorul!</p>
        <p>Ce sa facem mai departe?</p>
        <ol>
            <li>Asteapta 10 minute!</li>
            <li>Redeschide browser-ul.</li>
            <li>Incearca din nou</li>
            <li>Daca eroare persista, nu mai incerca!</li>
            <li>Raporteaza problema si asteapta o noua versiune!</li>
        </ol>
        <p>Aceasta este eroarea!</p>
        <code class="mr-5" style="background-color:whitesmoke ;">{{error.details}}</code>
</ng-container>