<!doctype html>
<html lang="en">


<body>
    <div class="card">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="logo-image-small">
                        <img src="assets/img/logo99.png">
                    </div>
                </div>
                <h5 class="text-primary">PRIMUL SISTEM MEDICAL DESTINAT MEDICILOR DE FAMILIE</h5>
                <br>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">AFLA CAND VA FI DISPONIBIL ! &raquo;</a></p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2><strong>Automatizarea sarcinilor administrative</strong></h2>
                    <p class="text-justify">Nu este un secret faptul că medicii petrec aproape jumătate din timpul
                        petrecut la lucru completând fișe și documente medicale.
                        Perioada din zi pe care un medic o petrece la serviciu ar trebui să se
                        desfășoare printre pacienți și nu printre hârtii. Digitalizarea poate se potrivește perfect în
                        acest context,
                        deoarece automatizarea traseelor de lucru este scopul cu care au fost construite calculatoarele
                    </p>
                </div>
                <div class="col-md-4">
                    <h2><strong>Propagarea instantanee a informațiilor</strong></h2>
                    <p class="text-justify">Smartphone-urile și dispozitivele portabile sunt piese hardware extrem de
                        populare
                        în zilele noastre și devin din ce în ce mai capabile. Ceasurile inteligente moderne
                        pot monitoriza ritmul cardiac, pot număra numărul de pași pe care îi parcurgem și chiar
                        pot lua un ECG. Acest lucru le face extrem de utile nu doar pentru utilizatorii de zi cu zi, ci
                        și pentru medicii lor.
                        Imaginați-vă un pacient purtând un ceas inteligent care își transmite în mod constant datele de
                        sănătate online. </p>
                </div>
                <div class="col-md-4">
                    <h2><strong>Siguranța datelor medicale</strong></h2>
                    <p class="text-justify">Datele digitale sunt întotdeauna expuse riscului de atacuri dăunătoare, dar
                        asta nu înseamnă
                        că fișierele fizice sunt complet impermeabile. Există întotdeauna posibilitatea de a
                        pierde dosarele medicale din cauza unor situații neașteptate, precum
                        dezastre naturale (cutremure, inundații, incendii) sau neglijență.</p>
                </div>
            </div>


        </div>

    </div>
</body>
</html>