<div class="row" *ngIf="pacient">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center"><strong>{{pacient.firstName}}
                        {{pacient.secondName}}</strong></h5>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p>Varsta: {{pacient.age}} ani</p>
                            <p>Data nasterii: {{birthDate | romanianDate}}</p>
                            <p>E-mail: {{pacient.email}}</p>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <p>Telefon1: {{pacient.pacientContact.firstPhone}}</p>
                            <p>Telefon2: {{pacient.pacientContact.secondPhone}}</p>
                            <p>Serie: {{pacient.series}} Nr: {{pacient.identityNumber}}</p>
                            <p>CNP: {{pacient.cnp}}</p>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2">
                            <p>Strada: {{pacient.pacientContact.street}}
                                {{pacient.pacientContact.streetNumber}}</p>
                            <p>Oras: {{pacient.pacientContact.city}}</p>
                            <p>Judet: {{pacient.pacientContact.region}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="pacient">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <tabset class="member-tabset" [justified]="true">
                    <tab heading="General">
                        <div class="row justify-content-center">
                            <h5 class="text-primary">Date medicale generale</h5>
                        </div>
                        <form [formGroup]='pacientGeneralDataForm'
                            (ngSubmit)="pacientGeneralDataForm.valid && saveGeneralData()" autocomplete="off">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <label>Grupa sanguina</label>
                                    <select formControlName="bloodType" class="form-control" placeholder="Oras">
                                        <option *ngFor="let bloodType of bloodTypes" [value]="bloodType.name">
                                            {{bloodType.name}}
                                        </option>
                                    </select>

                                    <div *ngIf="pacientGeneralDataForm.get('bloodType').hasError('required')"
                                        class="invalid-feedback">
                                        Grupa sanguina este obligatorie!
                                    </div>

                                    <label>Greutate la nastere [KG]</label>
                                    <app-text-input [formControl]='pacientGeneralDataForm.controls["weightBirth"]'
                                        [label]='"Greutate la nastere [kg]"'>
                                    </app-text-input>

                                    <label>Inaltime la nastere [CM]</label>
                                    <app-text-input [formControl]='pacientGeneralDataForm.controls["heightBirth"]'
                                        [label]='"Inaltime la nastere [cm]"'>
                                    </app-text-input>
                                </div>
                                <div class="col-3">
                                    <label>Numar nasteri</label>
                                    <app-text-input [formControl]='pacientGeneralDataForm.controls["numberOfBirths"]'
                                        [label]='"Numar nasteri"'>
                                    </app-text-input>

                                    <label>Numar avorturi</label>
                                    <app-text-input [formControl]='pacientGeneralDataForm.controls["numberOfAvortions"]'
                                        [label]='"Numar avorturi"'>
                                    </app-text-input>

                                    <label></label>
                                    <div class="form-group">
                                        <label class="control-label" style="margin-right: 10px;">Fumator: </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="True" formControlName='isSmoker'>
                                            Da
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="False" class="ml-3" formControlName='isSmoker'>
                                            Nu
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <h5 class="text-primary">Vaccinuri</h5>
                            </div>
                            <div class="form-group pull-right">
                                <button class="btn btn-info" type="button"
                                    (click)="openVaccineModal(vaccineModal)">Adauga vaccin</button>
                            </div>

                            <div class="table-responsive" style="overflow-x: hidden; overflow-y:hidden;">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Varsta recomandata
                                        </th>
                                        <th>
                                            Vaccin
                                        </th>
                                        <th>
                                            Descriere
                                        </th>
                                        <th>
                                            Obligatoriu
                                        </th>
                                        <th>

                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let madeVaccine of madeVaccines; let i = index">
                                            <td style="width: 15%">
                                                {{madeVaccine.recommendedAge}}
                                            </td>
                                            <td style="width: 20%">
                                                {{madeVaccine.name}}
                                            </td>
                                            <td style="width: 45%" class="text-justify">
                                                {{madeVaccine.description}}
                                            </td>
                                            <td style="width: 10%">
                                                <h5><span *ngIf="madeVaccine.isRequired"
                                                        class="badge badge-pill badge-success">
                                                        <i class="fa fa-check" aria-hidden="true"></i></span></h5>
                                                <h5><span *ngIf="!madeVaccine.isRequired"
                                                        class="badge badge-pill badge-danger">
                                                        <i class="fa fa-ban" aria-hidden="true"></i></span></h5>
                                            </td>
                                            <td style="width: 10%">
                                                <button class="btn btn-danger" type="button"
                                                    (click)="deleteVaccine(madeVaccine)">-</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group pull-right">
                                <button [disabled]='!pacientGeneralDataForm.valid' class="btn btn-success"
                                    type="submit">Salveaza</button>
                            </div>
                        </form>
                        <div class="row" *ngIf="validationErrors.length > 0">
                            <ul class="text-danger">
                                <li *ngFor="let error of validationErrors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </tab>
                    <tab heading="Consultatii">
                        <div class="row justify-content-center">
                            <h5 class="text-primary">Consultatii</h5>
                        </div>
                    </tab>
                    <tab heading="Diagnostice">
                        <div class="row justify-content-center">
                            <h5 class="text-primary">Diagnostice</h5>
                        </div>
                    </tab>
                    <tab heading="Retete">
                        <div class="row justify-content-center">
                            <h5 class="text-primary">Retete</h5>
                        </div>
                    </tab>
                    <tab heading="Documente">
                        <div class="row justify-content-center">
                            <h5 class="text-primary">Documente</h5>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>

<ng-template #vaccineModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Adauga vaccin</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="vaccineModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Vaccin</label>
        <select class="form-control" [(ngModel)]="selectedVaccine" placeholder="Vaccin"
            (change)="onVaccineChange($event)">
            <option *ngFor="let requiredVaccine of requiredVaccines" [value]="requiredVaccine.id">
                {{requiredVaccine.name}} --- Varsta recomandata: {{requiredVaccine.recommendedAge}}
            </option>
        </select>
        <br>
        <label>Descriere vaccin</label>
        <textarea [(ngModel)]="vaccineDescription" [disabled]='true' class="form-control" rows="7"></textarea>
    </div>
    <div class="modal-footer">
        <button (click)="addVaccine()" class="btn btn-success mr-2 btn-round" type="submit">Adauga</button>
        <button class="btn btn-danger btn-round" (click)="vaccineModalRef.hide()" type="button">Renunta</button>
    </div>
</ng-template>