.dropdown-menu {
    background-color: #E9E9E8;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}