.card .avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}