<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body text-center">
                    <h6 class="text-primary">Date personale</h6>

                    <div class="form-group">
                        <label class="control-label" style="margin-right: 10px;">Sex</label>
                        <label class="radio-inline">
                            <input type="radio" value='masculin' formControlName='gender'> Masculin
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value='feminin' class="ml-3" formControlName='gender'> Feminin
                        </label>
                    </div>

                    <app-text-input [formControl]='registerForm.controls["firstName"]' [label]='"Nume"'>
                    </app-text-input>

                    <app-text-input [formControl]='registerForm.controls["secondName"]' [label]='"Prenume"'>
                    </app-text-input>


                    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Data nasterii"'
                        [maxDate]='maxDate'>
                    </app-date-input>

                    <app-text-input [formControl]='registerForm.controls["email"]' [label]='"Adresa e-mail"'>
                    </app-text-input>

                    <app-text-input [formControl]='registerForm.controls["identityNumber"]' [label]='"Numar CI"'>
                    </app-text-input>

                    <app-text-input [formControl]='registerForm.controls["series"]' [label]='"Serie buletin"'>
                    </app-text-input>

                    <app-text-input [formControl]='registerForm.controls["cnp"]' [label]='"CNP"'>
                    </app-text-input>


                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-body text-center">
                    <h6 class="text-primary">Date logare</h6>
                    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Nume Utilizator"'>
                    </app-text-input>

                    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Parola"'
                        [pattern]='"Trebuie sa contina cel putin o litera mica, o litera mare, o cifra si un caracter special"'
                        [type]='"password"'>
                    </app-text-input>

                    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirma parola"'
                        [type]='"password"'>
                    </app-text-input>
                    <div class="row justify-content-center">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                        </ngx-recaptcha2>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit"><i class="fa fa-check"></i>
            Inregistrare</button>
        <button class="btn btn-danger mr-2" (click)="cancel()" type="button"><i class="fa fa-recycle"></i>
            Resetare</button>
    </div>
</form>

<p>
    Form value: {{registerForm.value | json}}
    Form value: {{registerForm.status | json}}
</p>